.container {
    display: flex;
    padding: 1rem;
}

.title {
    padding-top: 1em;
    padding-bottom: 1em;
    color: #164D71;
}

.email-img {
    padding: 1rem;
}
.email-title {
    padding: 1rem;
}

