.container {
    display: flex;
    padding: 1rem;
}

.title {
    padding-top: 1em;
    padding-bottom: 1em;
    color: #164D71;
}

.img {
    position:
}

.img img {
    width: 50%;
    padding: 0rem;
}

.title_section {
    padding: 0rem;
}

