@import './Home/Home.css';
@import './Contact/Contact.css';
@import './AboutMe/AboutMe.css';
@import './Projects/Projects.css';
@import './Footer/Footer.css';
@import './MenuBurger/Backdrop/Backdrop.css';
@import './MenuBurger/SideDrawer/SideDrawer.css';
@import './MenuBurger/Toolbar/Toolbar.css';
@import './MenuBurger/SideDrawer/DrawerToggleButton.css';

.App {
  text-align: center;
  font-family: 'adriane', Georgia, serif;
  height: 100%;
}

.App-body {
  background-color: white;
  border: 10px solid #004D71;
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #494C4E;
}

.App-link {
  color: #61dafb;
}

.title {
    padding-top: 1em;
    padding-bottom: 1em;
    color: #164D71;
    border-bottom: 1px solid #f0eeee;
}