.App {
  text-align: center;
  font-family: 'adriane', Georgia, serif;
}

.App-body {
  background-color: white;
  border: 10px solid #004D71;
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #004D71;
}

.App-link {
  color: #61dafb;
}
