.footer-contact {
    border-top: 1px solid #f0eeee;
    text-align: center;
    padding-top: 1em;
   
}

.footer-contact p {
    font-size: 80%;
    font-family: 'adriane', Georgia, serif;
    color: #494c4e;
}

.footer-copyright {
    border-top: 1px solid #f0eeee;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.footer-copyright p {
    font-size: 62.5%;
    font-family: 'adriane', Georgia, serif;
    color: #494c4e;
    -webkit-font-smoothing: antialiased;
}