.main {
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.container {
    display: flex;
}

.title {
    padding-top: 1em;
    padding-bottom: 1em;
}

.content {
    padding-left: 2em;
    padding-right: 2em;
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}