.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectTitle {

}

.project1 {
    padding: 2rem;

}

.project2{
    padding: 2rem;
   
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}