.main {
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    padding-top: 1em;
    padding-bottom: 1em;
    color: #164D71;
}

.project1 {
    padding: 1rem;
}

.project2{
    padding: 1rem;
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}